*{
    margin:0;
    padding: 0%;
    box-sizing: border-box;

    font-family: 'Times New Roman', Times, serif;

}
body{
    background-color:lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    /* viewport height for giving variable length to dynamic data like CV will grow over time and the space is same */
    min-height: 100vh;
}
/* apply photo for left side */
.container{
    position: relative;
    width: 100%;
    max-width: 1200px;
    min-height: 1000px;
    margin: 50px;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr 2fr;

}
/*  */
.container .left-side{
    position: relative;
    background-color: rgb(169, 186, 255);
    padding: 40px;
}
.headingText{
    position: relative;
    display: flex;
    flex-direction:column;
    align-items: center;
    padding-bottom: 20px;
    border: 1px  gray;
}
/* .headingText .candidateImg{
    position: relative;
    border-radius: 50%;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100px;
    height: 100px;
    object-fit: cover;


} */
/* .headingText .candidateImg {
    position: relative;
    border-radius: 50%;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;


} */
.img{
    /* position: relative; */
    border-radius: 30%;
    /* top: 0;
    left: 0;
    overflow: hidden; */
    width: 300px;
    height: 300px;
    /* object-fit: cover; */


}
.headingText h2{
    color: wheat;
    font-size: 2.5rem;
    margin-top: 2rem;
    text-align: center;
    line-height: 1.8rem;
}
.headingText h2 span{
    font-size: 1.5rem;
    font-weight: 2000;
}

/* apply CSS fpr contact info */

.contactInfo{
        font-weight: 600;
        letter-spacing: 0.2px;
        margin-bottom: 0.5rem;
}
.contactDetails{
    position: relative;
}
.contactDetails ul li{
    position: relative;
    list-style: none;
    margin: 0.5rem 0;
    cursor: pointer;

}
.contactInfo ul li .icon{
    font-weight: 300;
}
/* apply CSS for education details */

.education ul{
    margin-bottom: 1rem;
    margin-top: 2rem;

}
.education h5{
    color:brown;
}
.education h4:nth-child(2){
    font-weight: 400;
}

/* apply css for synopsis */
.about{
    margin: 2rem;
}
.synopsis{
    color: rgb(79, 113, 249);
    letter-spacing: 0.5px;
    margin-bottom: 2.5rem;
    text-align: center;
}
p{
    text-align: justify;
    font-size: 1.2rem;

}

/* apply CSS for Experience */

.about .experience{
    color: rgb(79, 113, 249);
}
.about .box{
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
}
.about .box .exp-year{
    min-width:9rem;
}
.about .box .exp-year h5{
    text-transform: uppercase;
    color:rgb(79, 113, 249);
    font-weight: 600;

}
.about .box .text h4 {
    text-transform: uppercase;
    color: rgb(79, 113, 249);
    font-size: 1rem;
    font-weight: 600;

}

/* Apply CSS on Technical SKills */

.skills .box{
    position : relative;
    width:100%;
    display: grid;
    grid-template-columns: 9rem 1fr;
    justify-content: center;
    align-items: center;
}

.skills .box h4{
    text-transform:uppercase ;
    color: rgb(79, 113, 249);
    font-weight: 400;

}

.skills .box .percent{
    position: relative;
    width: 100%;
    height:0.9rem;
    background-color: rgb(92, 92, 246);
}
.skills .box .percent div{
    position:absolute;
    top:0;
    left: 0;
    height: 100%;
    background-color: green;


}
.prof-skills {
    color: rgb(79, 113, 249);
    letter-spacing: 0.5px;
    margin-bottom: 2.5rem;

}
/* Apply CSS for hobbies */

.hobbies ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.hobbies ul li{
    color:rgb(246, 92, 228);
    font-weight: 400;
    margin: 0.6rem;
}
.hobbies ul li .fa-solid {
    color: brown;
    font-size: 1rem;
    width:1.5rem
}

